* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: auto;
    height: auto;
    background-image: url("../img/gradient.jpg");
    background-size: cover;
    background-position: center;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #b30e10;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}